<div class="card">
    <div class="card-header">
        Top 3 studios winth winners
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <label class="text-center">Name</label>
                        </th>
                        <th scope="col">
                            <label for="yearInput" class="text-center">Win Count</label>
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of newStudioList; let i = index">
                        <th>{{item.name}}</th>
                        <td>{{item.winCount}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>        
        <nav>
            <ul class="pagination">        
              <li class="page-item" [ngClass]="{'disabled': minLine == 0}">
                <a class="page-link" (click)="previous()">Previous</a>
              </li>              
              <li class="page-item" [ngClass]="{'disabled': page >= limitLine}">
                <a class="page-link" (click)="next()">Next</a>
              </li>              
            </ul>
          </nav>
    </div>
</div>