<div class="card">
    <div class="card-header">
        List movies
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col input-group">
                <input type="text" class="form-control" [(ngModel)]="filterYear">
                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="getYearWinner()" [disabled]=checkYearInvalid(filterYear)>
                        <i>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                              </svg>
                        </i>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <label class="text-center">ID</label>
                        </th>
                        <th scope="col">
                            <label for="yearInput" class="text-center">Year</label>
                        </th>
                        <th scope="col">
                            <label class="text-center">Title</label>
                        </th>
                        <th scope="col">
                            <label class="text-center">Winner</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of yearWinner; let i = index">
                        <th>{{item.id}}</th>
                        <td>{{item.year}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.winner}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>