<div class="fixed-top">
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline my-2 my-lg-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>      
      </button>        
      <span class="navbar-brand" style="margin-left: 20px;" href="#">Piores filmes</span>
    </form>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent"> 
      <ul class="navbar-nav mr-auto">        
        <!-- <li class="nav-item" *ngFor="let page of pages; let i = index" routerDirection="root" [routerLink]="[page.url]">
          <a class="nav-link" href="#">{{ page.title }}</a>
        </li> -->
        <li class="nav-item"><a routerLink="/dashboard" routerLinkActive="active" class="nav-link" href="#">First Component</a></li>
        <li class="nav-item"><a routerLink="/list" routerLinkActive="active" class="nav-link" href="#">First Component</a></li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Lista</a>
        </li>         -->
      </ul>      
    </div>
  </nav>    
</div>
<router-outlet></router-outlet>