<section>  
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline my-2 my-lg-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>      
      </button>        
      <span class="navbar-brand" style="margin-left: 20px;" href="#">Piores filmes</span>
    </form>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent"> 
      <ul class="navbar-nav mr-auto" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <li class="nav-item"><a routerLink="/dashboard" routerLinkActive="active" (click)="open()" class="nav-link" href="#">Dashboard</a></li>
        <li class="nav-item"><a routerLink="/list" routerLinkActive="active" (click)="open()" class="nav-link" href="#">List movies</a></li>        
      </ul>
    </div>
  </nav>    
</section>
<section>
  <router-outlet></router-outlet>
</section>